<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
	
		<typeAlias type="com.backpacker.springBoot.regist.RegistVo"  alias="registVo"/>
		
		<typeAlias type="com.backpacker.springBoot.login.LoginVo" alias="loginVo"/>
		<typeAlias type="com.backpacker.springBoot.login.SessionVo" alias="sessionVo"/>
		
		<typeAlias type="com.backpacker.springBoot.user.UserVo" alias="userVo"/>
		
		<typeAlias type="com.backpacker.springBoot.product.ProductVo" alias="productVo"/>
		
		<typeAlias type="com.backpacker.springBoot.Common.PageVo" alias="PageVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/sqlMappers/login.xml"/>
		<mapper resource="config/sqlMappers/regist.xml"/>
		<mapper resource="config/sqlMappers/user.xml"/>
		<mapper resource="config/sqlMappers/product.xml"/>
	</mappers>
	
</configuration>